#ignore these in git listings
*.pyc
*~
*.[oadi]
*.so
.emacs*
/junk/
test_*
!test_*.[ch]
/test-images/generated
/test-images/output
/test-images/dickens
/test-images/*.txt
!/test-images/erewhon.txt
/test-video
/test-audio
*.p[bgp]m
*.log
/images/
/*.net
/*.S
/debug/
/gtk-recur
/nets
/path.h
/ccan/tools/configurator/configurator
/config.h
/rnnca-player
/examples/
