#ignore these in git listings
*.pyc
*~
*.[oadi]
*.so
.emacs*
/junk/
test_*
!test_*.[ch]
convert-saved-net
/test-images/generated
/test-images/output
/test-images/dickens
/test-images/*.txt
/test-images/more-text/*.txt
!/test-images/erewhon.txt
/test-video
/test-audio
*.p[bgp]m
*.log
/images/
/*.net
/*.S
/debug/
/gtk-recur
/nets
/path.h
/ccan/tools/configurator/configurator
/config.h
/rnnca-player
/examples/
local.mak
/bird-data/
*.dot
/data/
/xml-lang-classify
/text-confabulate
/text-cross-entropy
/text-classify
/text-classify-results
/text-predict
/colour-spectrum.h
/TAGS
