[Desktop Entry]
Name=Recur Launcher
Comment="Put this in ~/.config/autostart to launch Recur automatically"
Exec="{recur-root}/startup/recur-startup.sh"
Path="{recur-root}"
Terminal=false
Type=Application
Categories=
