[Desktop Entry]
Name=RNNCA Launcher
Comment="Put this in ~/.config/autostart to launch RNNCA automatically"
Exec="{recur-root}/startup/rnnca-startup.sh"
Path="{recur-root}"
Terminal=false
Type=Application
Categories=
