[Desktop Entry]
Name=RNNCA Launcher
Comment="Put this in ~/.config/autostart to launch RNNCA automatically"
Exec="/home/douglas/recur/rnnca-startup.sh"
Path="/home/douglas/recur/"
Terminal=false
Type=Application
Categories=
